h1{
    color: red;
    font-weight: bold;
}
p{
    font-size: 40px;
    font-weight: bolder;
    color: brown;
   
}
div{
    padding-top: 50px;
    font-size: 30px;
    background-color: blue;
    color:black;
}
span{
    background-color: aqua;
    padding-left: 200px;
    font-size: 30px;
}
.image{
    size: 500px;
}
.footer{
    background-color: aquamarine;
    /* padding: 10px; */
    font-size: 22px;
    font-weight: bolder;
    text-shadow: 2px 2px red;
    position: fixed ;
    bottom: 0;
    width: 100%;
    line-height:2;
      }